/* Body Styles */
body {

  line-height: 1.6;
  background-color: var(--background-color);
  margin: 0; /* Elimina márgenes por defecto */
  overflow: hidden; /* Previene el desplazamiento vertical en el body */
}

html {
  scroll-behavior: smooth; /* Suaviza el scroll al hacer clic en los enlaces */
}

.body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
  overflow-y: auto; /* Permitir desplazamiento vertical */
  scroll-behavior: smooth;
}

section {
  min-height: 100vh; /* Altura mínima para cada sección */
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  scroll-snap-align: start; /* Alinear cada sección al inicio al hacer scroll */
  scroll-behavior: smooth;
}
.navbar, footer {
  width: calc(100% - 20px); /* Leaves space for scrollbar */
}

#hero {
  background-color: #000000; /* Background color for the hero section */
}
#intro {
  background-color: #000000; /* Background color for the hero section */
}
#history {
  background-color: #000000; /* Background color for the history section */
}

#culture {
  background-color: #000000; /* Background color for the culture section */
}

#politics {
  background-color: #000000; /* Background color for the politics section */
}

#impact {
  background-color: #000000; /* Background color for the impact section */
}

#help {
  background-color: #000000; /* Background color for the help section */
}
