/* Body Styles */
body {

  line-height: 1.6;
  background-color: var(--background-color);
  margin: 0; /* Elimina márgenes por defecto */
  overflow: hidden; /* Previene el desplazamiento vertical en el body */
}

html {
  scroll-behavior: smooth; /* Suaviza el scroll al hacer clic en los enlaces */
}

.body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
  overflow-y: auto; /* Permitir desplazamiento vertical */
  scroll-snap-type: y mandatory; /* Habilitar el snap en el eje Y */
  scroll-behavior: smooth;
}

section {
  min-height: 100vh; /* Altura mínima para cada sección */
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  scroll-snap-align: start; /* Alinear cada sección al inicio al hacer scroll */
  scroll-behavior: smooth;
}

#hero {
  background-color: #f0f0f0; /* Color de fondo para la sección hero */
}

#projects {
  background-color: #e0e0e0; /* Color de fondo para la sección de proyectos */
}

#about {
  background-color: #d0d0d0; /* Color de fondo para la sección "About" */
}

#contact {
  background-color: #c0c0c0; /* Color de fondo para la sección de contacto */
}
