/* Grid Layout */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .grid-item {
    background-color: var(--secondary-color);
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s; /* Transición suave */
  }
  
  /* Efecto hover para los items del grid */
  .grid-item:hover {
    background-color: var(--primary-color); /* Cambia a un color de fondo diferente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    transform: scale(1.05); /* Aumentar ligeramente el tamaño */
  }