/* Hero Section */
.hero {
  background: url(assets/icons/oni.svg) no-repeat center center/cover;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 20px;
  font-size: 5vw; /* Ajusta el valor según el tamaño que te funcione */
  white-space: nowrap; /* Evita que el texto salte a la siguiente línea */
  overflow: hidden; /* Evita que el texto se desborde */
}

.hero p {
  font-size: 1.2em;
}

.hero-svg {
  position: relative; /* Permite el posicionamiento dentro del contenedor */
  display: inline-block; /* Hace que el contenedor del SVG se ajuste al contenido */
  cursor: pointer;
}

.hero-svg svg {
  transition: fill 0.3s ease; /* Transición suave al cambiar de color */
  fill: var(--navbar-footer-color); /* Color inicial del SVG */
}

.hero-svg:hover svg {
  fill: var(--primary-color); /* Cambia el color a rojo al pasar el mouse */
}