/* Navbar Container */
.navbar {
  background: rgba(0, 0, 0, 0); /* Fondo semitransparente */
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  font-size: var(--text-base);
  backdrop-filter: blur(10px); /* Desenfoque de fondo */
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Borde tenue */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Navbar Links */
.navbar-links {
  list-style: none;
  display: flex;
  flex-direction: row; /* Siempre en fila */
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: var(--text-sm);
}

.navbar-links a:hover {
  color: var(--primary-color);
}

/* Navbar Brand */
.navbar-brand {
  white-space: nowrap;
  font-size: 16px;
}

/* Navbar Toggle Button (Hamburguesa) */
.navbar-toggle {
  display: none; /* Ocultar por defecto */
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: var(--text-color);
  margin: 3px 0;
  transition: all 0.3s ease; /* Transiciones suaves */
}

/* Ocultar el checkbox visualmente */
.navbar-checkbox {
  display: none; /* Ocultar el checkbox */
}

/* Responsive Design */
@media (min-width: 768px) {
  .navbar-links {
    display: flex; /* Mostrar enlaces en horizontal */
    position: static;
    white-space: nowrap;
  }

  .navbar-toggle {
    display: none; /* Asegurarse de que no se muestre el menú hamburguesa en pantallas grandes */
  }
}

@media (max-width: 767px) {
  .navbar-links {
    display: none; /* Esconder enlaces en pantallas pequeñas */
    flex-direction: column; /* Cambiar a vertical */
    position: absolute; /* Posiciona el menú sobre el contenido */
    top: 60px; /* Ajusta según tu diseño */
    right: 0;
    background-color: var(--navbar-footer-color); /* Fondo para el menú */
    width: 100%; /* Ajustar al ancho completo */
    z-index: 999; /* Asegurarse de que esté por encima del contenido */
  }

  .navbar-checkbox:checked ~ .navbar-links {
    display: flex; /* Mostrar el menú al marcar el checkbox */
  }

  .navbar-toggle {
    display: flex; /* Mostrar el menú hamburguesa en pantallas pequeñas */
  }

  /* Estilos para transformar el menú hamburguesa en una 'X' */
  .navbar-checkbox:checked + .navbar-toggle .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px); /* Primera barra se transforma */
  }

  .navbar-checkbox:checked + .navbar-toggle .bar:nth-child(2) {
    opacity: 0; /* Segunda barra se oculta */
  }

  .navbar-checkbox:checked + .navbar-toggle .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px); /* Tercera barra se transforma */
  }
}
