/* Navbar Styles */
.navbar {
  background-color: var(--navbar-footer-color);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  position: fixed; /* Cambiar a fixed para que el navbar permanezca en la parte superior */
  top: 0; /* Asegúrate de que esté en la parte superior */
  left: 0; /* Alinea a la izquierda */
  right: 0; /* Alinea a la derecha */
  z-index: 1000; /* Asegura que el navbar esté siempre encima de otros elementos */
}

.navbar-links {
  list-style: none;
  display: flex;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease; /* Agregar transición */
}

.navbar-links a:hover {
  color: var(--primary-color); /* Cambiar color al pasar el mouse */
}

/* Ocultar el menú hamburguesa en pantallas grandes */
.navbar-toggle {
  display: none; /* Oculto por defecto en pantallas grandes */
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: var(--text-color);
  margin: 3px 0;
}

/* Mostrar el menú hamburguesa solo en pantallas pequeñas */
@media (max-width: 768px) {
  .navbar-links {
      display: none; /* Ocultar enlaces por defecto en pantallas pequeñas */
      flex-direction: column;
      width: 100%;
      background-color: var(--navbar-footer-color);
      position: absolute;
      top: 60px; /* Ajusta esta posición si es necesario */
      left: 0;
      padding: 10px;
  }

  .navbar-links.active {
      display: flex; /* Mostrar los enlaces cuando se active el toggle */
  }

  /* Mostrar el menú hamburguesa en pantallas pequeñas */
  .navbar-toggle {
      display: flex;
  }
}
