/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --primary-color: #e63946;  /* Color rojo */
  --secondary-color: #ff3333; /* Otro tono de rojo */
  --navbar-footer-color: #000000; /* Color negro para la navbar y footer */
  --text-color: #ffffff; /* Color blanco para el texto */
  --background-color: #ffffff; /* Color blanco para el fondo */
}

/* Body Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--background-color);
}

/* Navbar Styles */
.navbar {
  background-color: var(--navbar-footer-color);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  position: relative; /* Asegura que el navbar tenga un contexto de posición para el toggle */
  z-index: 1000; /* Asegura que el navbar esté siempre encima de otros elementos */
}

.navbar-links {
  list-style: none;
  display: flex;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease; /* Agregar transición */
}

.navbar-links a:hover {
  color: var(--primary-color); /* Cambiar color al pasar el mouse */
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: var(--text-color);
  margin: 3px 0;
}

/* Hero Section */
.hero {
  background: url(assets/icons/oni.svg) no-repeat center center/cover;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2em;
}

/* Button Styles */
.btn {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Agregar transición */
}

.btn:hover {
  background-color: var(--secondary-color); /* Cambiar color al pasar el mouse */
}

/* Grid Layout */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.grid-item {
  background-color: var(--secondary-color);
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  text-align: center;
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 20px;
  background-color: var(--navbar-footer-color);
  color: var(--text-color);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar-links {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: var(--background-color);
      position: absolute;
      top: 60px;
      left: 0;
  }

  .navbar-links.active {
      display: flex;
      padding: 10px;
  }

  .navbar-toggle {
      display: flex;
  }
}

/* Media Queries for Different Screen Sizes */
@media only screen and (max-width: 600px) and (orientation: portrait) {
  body {
      font-size: 1rem;
  }
}

@media only screen and (max-width: 800px) and (orientation: landscape) {
  body {
      font-size: 1.2rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) and (orientation: portrait) {
  body {
      font-size: 1.4rem;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1200px) and (orientation: landscape) {
  body {
      font-size: 1.6rem;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1600px) {
  body {
      font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1601px) {
  body {
      font-size: 2rem;
  }
}
