/* Variables para el tema claro (light mode) */
:root {
    --navbar-footer-color: #ffffff;
    --text-color: #000000;
    --primary-color: hsla(355, 75%, 58%, 1); /* Color rojo */
    --background-color: #f0f0f0;
}

/* Variables para el tema oscuro (dark mode) */
.dark-mode {
    --navbar-footer-color: #1e1e1e;
    --text-color: #ffffff;
    --primary-color: hsla(355, 75%, 58%, 1); /* Color rojo */
    --background-color: #121212;
}

