.swiper-container {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

.swiper-image {
  width: 48%;
  height: 50%;
}

.swiper-image-left {
  text-align: left;
}

.swiper-image-right {
  text-align: right;
}

.swiper-image-inner {
  position: relative;
}

.emphasis {
  font-weight: bold;
  font-size: 2rem;
}

/* Additional styling as needed */
.slider-image {
  max-width: 25%; /* Adjust percentage as needed */
  height: auto;
  display: block;

}

.hover-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%; /* Match your design */
  height: auto;
}

.hover-image {
  display: block;
  width: 100%;
  height: auto;
  transition: filter 0.3s ease, transform 0.3s ease;
}

.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.hover-container:hover .hover-image {
  filter: blur(5px);
  transform: scale(1.05);
}

.hover-container:hover .hover-text {
  opacity: 1;
  visibility: visible;
}

.culture-title {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 5rem;
}

.culture-title-bottom {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}
